openapi: 3.0.0

info:
  title: Portfolio Firebase Functions
  version: 0.2.2

externalDocs:
  description: GitHub
  url: https://github.com/loginov-rocks/Portfolio-Firebase

servers:
  - url: https://us-central1-loginov-rocks-portfolio.cloudfunctions.net
    description: Production
  - url: http://localhost:5000/loginov-rocks-portfolio/us-central1
    description: Development

security:
  - ApiKey: []
    Signature: []

tags:
  - name: Stocks

paths:

  /getOutdated:
    get:
      summary: Get Outdated
      tags:
        - Stocks
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outdated'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'

  /updateImages:
    patch:
      summary: Update Images
      tags:
        - Stocks
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Images'
      responses:
        204:
          $ref: '#/components/responses/NoContent'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'

  /updateQuotes:
    patch:
      summary: Update Quotes
      tags:
        - Stocks
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Quote'
      responses:
        204:
          $ref: '#/components/responses/NoContent'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'

components:

  schemas:

    Images:
      type: object
      properties:
        symbols:
          type: array
          items:
            type: string
        images:
          type: array
          items:
            type: string
            format: binary
      required:
        - symbols
        - images

    Outdated:
      type: object
      properties:
        logos:
          type: array
          items:
            type: string
        quotes:
          type: array
          items:
            type: string
      required:
        - logos
        - quotes

    Quote:
      type: object
      properties:
        symbol:
          type: string
        companyName:
          type: string
        close:
          type: number
          format: float
          nullable: true
        previousClose:
          type: number
          format: float
        latestPrice:
          type: number
          format: float
        iexRealtimePrice:
          type: number
          format: float
          nullable: true
        change:
          type: number
          format: float
        changePercent:
          type: number
          format: float
      required:
        - symbol
        - companyName
        - close
        - previousClose
        - latestPrice
        - iexRealtimePrice
        - change
        - changePercent

  securitySchemes:

    ApiKey:
      name: x-api-key
      type: apiKey
      in: header

    Signature:
      name: x-signature
      type: apiKey
      in: header

  responses:

    NoContent:
      description: No Content

    BadRequest:
      description: Bad Request

    Unauthorized:
      description: Unauthorized

    InternalServerError:
      description: Internal Server Error
