openapi: 3.0.0

info:
  title: Portfolio Firebase Functions
  version: 1.1.4

externalDocs:
  description: GitHub
  url: https://github.com/loginov-rocks/Portfolio

servers:
  - url: https://us-central1-loginov-rocks-portfolio.cloudfunctions.net
    description: Production
  - url: http://localhost:5000/loginov-rocks-portfolio/us-central1
    description: Development

security:
  - ApiKey: [ ]
    Signature: [ ]

tags:
  - name: Assets
  - name: Stocks

paths:

  /createAsset:
    post:
      summary: Create Asset
      tags:
        - Assets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetResponse'
        303:
          description: See Other
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        405:
          $ref: '#/components/responses/MethodNotAllowed'
        500:
          $ref: '#/components/responses/InternalServerError'

  /getOutdated:
    get:
      summary: Get Outdated
      tags:
        - Stocks
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOutdatedResponse'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'

  /updateLogos:
    patch:
      summary: Update Logos
      description: 'Accepts an unlimited number of logo & symbol pairs. Max uncompressed HTTP request size: 10 MB.'
      tags:
        - Stocks
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateLogosRequest'
      responses:
        204:
          $ref: '#/components/responses/NoContent'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'

  /updateQuotes:
    patch:
      summary: Update Quotes
      tags:
        - Stocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQuotesRequest'
      responses:
        204:
          $ref: '#/components/responses/NoContent'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'

components:

  schemas:

    AssetType:
      type: string
      enum:
        - stock

    CreateAssetRequest:
      type: object
      properties:
        externalId:
          type: string
        type:
          $ref: '#/components/schemas/AssetType'
      required:
        - externalId
        - type

    CreateAssetResponse:
      type: object
      properties:
        assetId:
          type: string
      required:
        - assetId

    GetOutdatedResponse:
      type: object
      properties:
        logos:
          type: array
          items:
            type: string
        quotes:
          type: array
          items:
            type: string
      required:
        - logos
        - quotes

    UpdateLogosRequest:
      type: object
      properties:
        logo:
          type: string
          format: binary
        symbol:
          type: string
      required:
        - logo
        - symbol

    UpdateQuotesRequest:
      type: array
      items:
        type: object
        properties:
          symbol:
            type: string
          companyName:
            type: string
          close:
            type: number
            format: float
            nullable: true
          previousClose:
            type: number
            format: float
          latestPrice:
            type: number
            format: float
          iexRealtimePrice:
            type: number
            format: float
            nullable: true
          change:
            type: number
            format: float
          changePercent:
            type: number
            format: float
        required:
          - symbol
          - companyName
          - close
          - previousClose
          - latestPrice
          - iexRealtimePrice
          - change
          - changePercent

  securitySchemes:

    ApiKey:
      name: x-api-key
      type: apiKey
      in: header

    Signature:
      name: x-signature
      type: apiKey
      in: header

  responses:

    BadRequest:
      description: Bad Request

    InternalServerError:
      description: Internal Server Error

    MethodNotAllowed:
      description: Method Not Allowed

    NoContent:
      description: No Content

    NotFound:
      description: Not Found

    Unauthorized:
      description: Unauthorized
