openapi: 3.0.0

info:
  title: Portfolio Firebase Functions
  version: 1.1.4

externalDocs:
  description: GitHub
  url: https://github.com/loginov-rocks/Portfolio

servers:
  - url: https://us-central1-loginov-rocks-portfolio.cloudfunctions.net
    description: Production
  - url: http://localhost:5000/loginov-rocks-portfolio/us-central1
    description: Development

tags:
  - name: Assets

paths:

  /createAsset:
    post:
      summary: Create Asset
      tags:
        - Assets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetResponse'
        303:
          description: See Other
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        405:
          $ref: '#/components/responses/MethodNotAllowed'
        500:
          $ref: '#/components/responses/InternalServerError'

components:

  schemas:

    AssetType:
      type: string
      enum:
        - stock

    CreateAssetRequest:
      type: object
      properties:
        externalId:
          type: string
        type:
          $ref: '#/components/schemas/AssetType'
      required:
        - externalId
        - type

    CreateAssetResponse:
      type: object
      properties:
        assetId:
          type: string
      required:
        - assetId

  responses:

    BadRequest:
      description: Bad Request

    InternalServerError:
      description: Internal Server Error

    MethodNotAllowed:
      description: Method Not Allowed

    NotFound:
      description: Not Found
